body  {
    font-family: 'PT Sans', sans-serif !important;
}

.armor-piece {
    border: 2px black solid; 
    border-radius: 4px;
    background-color: lightgray;
}

.armor-type {
    display: inline-block;
    text-decoration: underline;
}